<%- include("partials/header"); -%>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-primary">About Us</h1>
                <p class="lead">Innovators of 24-hour Fitness. We are the world’s largest & fastest-growing gym chain.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2 class="text-secondary">Our Mission</h2>
                <p>Enrich lives through better health, convenience, community, and inspiration-driven franchise ownership.</p>
            </div>
            <div class="col-md-6">
                <img src="https://trafft.com/wp-content/uploads/2021/02/Build-a-Team-to-Create.jpg" width="500" class="img-fluid rounded" alt="Mission">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 order-md-2">
                <h2 class="text-secondary">Our Goal</h2>
                <p>We aim to increase club profitability & growth of our franchise network while improving the health & member experience.</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="https://media.licdn.com/dms/image/C4D12AQEYW3MMOcfbOg/article-cover_image-shrink_600_2000/0/1641821521196?e=2147483647&v=beta&t=iDIkLbK_Lj9feHdfQTRykywB-ojumFX2IJ8C3eKnqow" class="img-fluid rounded" alt="Goal">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h2 class="text-secondary text-center " text-align="right">Who We Are</h2>
                <p class="text-center">We believe in a strong corporate culture: PEOPLE, PURPOSE, PROFITS, and PLAY are all in our corporate DNA.</p>
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-md-3">
                <img src="https://st5.depositphotos.com/35063826/66016/i/450/depositphotos_660163682-stock-photo-diverse-group-friends-gym-looking.jpg" class="img-fluid rounded-circle mb-2" alt="People">
                <h4 class="text-secondary">People</h4>
                <p>Putting people first, always.</p>
            </div>
            <div class="col-md-3">
                <img src="https://miro.medium.com/v2/resize:fit:1400/1*Lp0x7wgLQf2FCf4Cva_eHQ.jpeg" class="img-fluid rounded-circle mb-2" alt="Purpose">
                <h4 class="text-secondary">Purpose</h4>
                <p>In it for the right reasons.</p>
            </div>
            <div class="col-md-3">
                <img src="https://www.yanrefitness.com/wp-content/uploads/2023/06/is-opening-a-gym-profitable-1.jpg" class="img-fluid rounded-circle mb-2" alt="Profits">
                <h4 class="text-secondary">Profits</h4>
                <p>You set the bar for success.</p>
            </div>
            <div class="col-md-3">
                <img src="https://images.healthshots.com/healthshots/en/uploads/2023/06/10230401/gym-1600x900.jpg" class="img-fluid rounded-circle mb-2" alt="Play">
                <h4 class="text-secondary">Play</h4>
                <p>Work doesn’t have to feel like work.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2 class="text-secondary">Global Presence</h2>
                <p>With a new club opening approximately every business day and a new member joining every 45 seconds, Anytime Fitness clubs are now open in 48 countries, 7 continents, and growing.</p>
                <img src="https://s3.mordorintelligence.com/health-and-fitness-club-market/1695667675238_health-and-fitness-club-market_Health_and_Fitness_Club_Market_Market_Size__By_Geography_Global_2022.png" class="img-fluid rounded" alt="Global Presence">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2 class="text-secondary">Milestones</h2>
                <p>Celebrating achievements and growth with 125+ gyms in India.</p>
                <img src="https://fitawardsme.com/wp-content/uploads/2020/06/05122019_Sport360_FITAwards_13691.jpg" class="img-fluid rounded" alt="Milestones">
            </div>
        </div>
    </div>
</body>
</html>
